.KamaValue {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;

  .rect {
    background-color: var(--primary);
    width: 5px;
    height: 30px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    .label {
      color: var(--gray4);
      font-weight: 400;
      font-size: 10px;
    }

    .value {
      color: var(--gray5);
      font-weight: 500;
      font-size: 14px;
    }
  }
}
