$primary: #019cb0;

.KamaDatepicker {
  position: relative;

  &:focus-within {
    input {
      border: 2px solid var(--black);
      //   padding: 11.5px 13px;
    }
  }

  &.hide {
    .wrapper {
      display: none;
    }
  }

  input {
    direction: ltr;
    text-align: right;
  }

  .clear {
    position: absolute;
    left: 10px;
    top: 2px;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    cursor: pointer;
  }

  .wrapper {
    background-color: var(--white);
    position: absolute;
    border: 1px solid var(--gray2);
    border-radius: 4px;
    min-width: 250px;
    padding: 16px;
    margin: 0;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 2%), 0 6px 20px 0 rgb(0 0 0 / 10%);

    .calendar {
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .select {
          flex: 1;
          display: flex;
          justify-content: center;
          cursor: pointer;

          select {
            padding: 2px 0;
            width: 100%;
            border: none;
            appearance: none;
            text-align: center;
            opacity: 0.8;
            cursor: pointer;
          }
        }

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 4px;
          border: 1px solid var(--gray2);
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);

            img {
              //   @include filterSvgGray2;
            }
          }

          &.previous {
            margin-right: 0px;
            margin-left: 8px;

            img {
              transform: rotate(180deg);
            }
          }

          img {
            width: 12px;
            height: 12px;
            // @include filterSvgGray1;
          }
        }
      }

      .body {
        table {
          width: 100%;

          thead {
            tr {
              th {
                height: 30px;
              }
            }
          }

          tbody {
            tr {
              td {
                text-align: center;
                height: 30px;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.1);
                }

                &.empty {
                  cursor: initial;

                  &:hover {
                    background-color: initial;
                    border-radius: initial;
                  }
                }

                &.today {
                  background-color: rgba(0, 0, 0, 0.1);
                }

                &.active {
                  color: var(--white);
                  background-color: var(--primary);
                  transition: all 0.2s ease-in;
                }

                &.disabled {
                  background-color: var(--gray1);
                  cursor: initial;
                }
              }
            }
          }
        }
      }

      .footer {
        display: flex;
        gap: 16px;
        margin-top: 16px;

        .button {
          flex: 1;
          position: relative;
          top: 0;
          border: 1px solid var(--gray2);
          padding: 8px 16px;
          border-radius: 4px;
          text-align: center;
          cursor: pointer;

          &:hover {
            top: -2px;
            transition: top 0.2s;

            &:not(.transparent) {
              //   @include boxShadowBottom15b;
            }

            &.transparent {
              color: var(--gray2);
            }
          }

          &.primary {
            color: var(--white);
            background-color: darken($primary, 2);
          }
        }
      }
    }
  }
}
