.KamaUploader {
  background: rgba(94, 204, 223, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: 1px dashed var(--light-blue);
  border-radius: 15px;
  cursor: pointer;

  &.disabled {
    background-color: var(--gray2);
    border-color: var(--gray3);
    cursor: initial;

    .wrapper {
      .content {
        .title {
          color: var(--gray4);
        }
      }
    }
  }

  input[type='file'] {
    display: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      display: flex;
      align-items: flex-end;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50px;

      .title {
        color: var(--light-blue);
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
      }

      .description {
        color: var(--gray4);
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}
