.KamaTree {
  height: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    position: relative;

    thead {
      tr {
        height: 30px;

        th {
          background-color: var(--white);
          color: var(--gray5);
          width: 180px;
          padding-bottom: 20px;
          padding-left: 20px;
          text-align: right;
          font-weight: 600;
          font-size: 14px;
          z-index: 9;
          white-space: nowrap;
          position: sticky;
          top: 0;

          img {
            margin-left: 8px;
            cursor: pointer;
          }
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: var(--gray);

          td {
            &:first-child {
              border-radius: 0 10px 10px 0;
            }
            &:last-child {
              border-radius: 10px 0 0 10px;
            }

            &::after {
              content: ' ';
              background-image: linear-gradient(90deg, var(--gray), hsla(0, 0%, 100%, 0));
            }
          }

          .actions {
            visibility: visible;
          }
        }

        &.root {
          margin-top: 20px;
          padding-top: 20px;

          &.expanded {
            td {
              .content {
                color: var(--primary);
              }
            }
          }

          td {
            .content {
              font-weight: 500;
            }
          }
        }

        td {
          overflow: hidden;
          position: relative;

          &::after {
            content: ' ';
            background-image: linear-gradient(90deg, var(--white), hsla(0, 0%, 100%, 0));
            width: 20px;
            height: 100%;
            z-index: 99;
            position: absolute;
            top: 0;
            left: 0;
          }

          .content {
            display: flex;
            align-items: center;
            height: 30px;
            font-weight: 400;
            font-size: 14px;
            white-space: nowrap;

            .icon {
              width: 20px;
              height: 20px;
              margin-left: 10px;
              cursor: pointer;

              img {
                width: 100%;
              }
            }
          }

          &.actions {
            visibility: hidden;

            .icon {
              width: 30px;
              height: 30px;
              cursor: pointer;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
